*{ padding: 0; margin: 0; box-sizing: borderbox;}
*::after{ box-sizing: borderbox; }
*::before{ box-sizing: borderbox; }
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.codeWrapper{
  flex: 1;
  height: 50%;
}
#code{
  height: 100%;
  overflow: auto;
}
.actions{
  position: absolute;
  top: 10px;
  right: 12px;
  display: flex;
  flex-direction: column;
}
.actions > button{
  margin: 10px;
  padding: 8px 14px;
  background: #f2f3f6;
  border: 1px solid #c2c9d3;
  color: #44454e;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.actions > button.active{
  background: #d4d7e1;
  box-shadow: none;
}
.actions > button:focus{
  outline: none;
}